<div class='datapanel'>
	 <div class='datapanel-header'>
	 	 <div class='flex v_center datapanel-header-left'>
	 	 	 <div class='flex v_center search-line'>
	 	 	 	 <input placeholder='Search members...' type='search'>
	 	 	 	 <button type='button'><i class="fa-solid fa-search"></i></button>
	 	 	 </div>
	 	 	 <button class='flex center panel_cancel_but' type='button'>
	 	 	 	 <span class='flex center'><i class="fa fa-filter fa-fw"></i></span>
		 	 	 <span class='flex center'>Filter</span>
	 	 	 </button>
	 	 	 <button class='flex center panel_cancel_but' type='button'>
	 	 	 	 <span class='flex center'><i class="fa fa-sort fa-fw"></i></span>
		 	 	 <span class='flex center'>Sort</span>
	 	 	 </button>
	 	 	 <button class='flex center panel_cancel_but' type='button'>
	 	 	 	 <span class='flex center'><i class="fa fa-print fa-fw"></i></span>
		 	 	 <span class='flex center'>Print</span>
	 	 	 </button>
	 	 </div>
	 	 <div class='flex v_center row_reverse datapanel-header-right'>
	 	 	 <button id='importUserButton' class='flex center panel_action_but' type='button'>
	 	 	 	 <span class='flex center'><i class="fa fa-upload fa-fw"></i></span>
		 	 	 <span class='flex center'>Bulk import</span>
	 	 	 </button>
	 	 	 <button id='addUserButton' class='flex center panel_action_but' type='button'>
	 	 	 	 <span class='flex center'><i class="fa-solid fa-plus"></i></span>
		 	 	 <span class='flex center'>Add member</span>
	 	 	 </button>
	 	 </div>
	 </div>
	 <div class='datapanel-body'>
	 	 <!-------------->
	 	  <table>
 	 	 	 <thead>
 	 	 	 	<tr>
 	 	 	 		 <th><span class='flex center'><i class="fa-solid fa-grip-vertical"></i></span></th>
 	 	 	 		 @foreach($panel->columns as $column_name => $column)
 	 	 	 		 <th>{!! $column->label !!}</th>
 	 	 	 		 @endforeach
 	 	 	 	 </tr>
 	 	 	 </thead>
 	 	 	 <tbody>
 	 	 	 	 <!--the table rows go here-->
 	 	 	 	 @foreach($panel->data as $row)
 	 	 	 	 <tr>
 	 	 	 	 	 <td><span class='flex center'><i class="fa-solid fa-grip-vertical"></i></span></td>
 	 	 	 	     @foreach($panel->columns as $column_name => $column)
 	 	 	 	     <td>{{ $row->$column_name ?? "" }}</td>
 	 	 	 	     @endforeach
 	 	 	 	 </tr>
 	 	 	 	 @endforeach
 	 	 	 	 <!--the table rows end here-->
 	 	 	 </tbody>
 	 	 </table>
	 	 <!-------------->
	 </div>
	 @if($panel->paginator)
	 <div class='datapanel-footer'>
	 	 <component:block name='saqle.paginator' :paginator='$panel->data'/>
	 </div>
	 @endif
 </div>