<div class='datapanel'>
	 <div class='datapanel-header'>
	 	 <div class='flex v_center datapanel-header-left'>
	 	 	 <div class='flex v_center search-line'>
	 	 	 	 <span class="flex center icon">
					 <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
					    <circle cx="11" cy="11" r="7"/>
					    <line x1="16.65" y1="16.65" x2="21" y2="21"/>
					 </svg>
                 </span>
	 	 	 	 <input autocomplete='off' id='searchInput' placeholder='Search members...' type='search'>
	 	 	 </div>
	 	 </div>
	 	 <div class='flex v_center row_reverse datapanel-header-right'>
	 	 	 <div class='flex v_center button-group'>
	 	 	 	 <button title='Table View' class='flex center' type='button'>
				    <span class="flex center icon">
				         <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
						    <rect x="3" y="4" width="18" height="16"/>
						    <line x1="9" y1="4" x2="9" y2="20"/>
						    <line x1="15" y1="4" x2="15" y2="20"/>
						 </svg>
				    </span>
				 </button>
				 <button title='Grid View' class='flex center' type='button'>
				    <span class="flex center icon">
				         <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
						    <rect x="3" y="3" width="7" height="7"/>
						    <rect x="14" y="3" width="7" height="7"/>
						    <rect x="3" y="14" width="7" height="7"/>
						    <rect x="14" y="14" width="7" height="7"/>
						 </svg>
				    </span>
				 </button>
	 	 	 </div>
	 	 	 <div class='flex v_cenyter button-group'>
	 	 	 	 <button title='Fliter' class='flex center' type='button'>
				    <span class="flex center icon">
				         <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
						    <polygon points="3,4 21,4 14,12 14,19 10,21 10,12"/>
						 </svg>
				    </span>
				 </button>
	 	 	 	 <button title='Print' class='flex center' type='button'>
				    <span class="flex center icon">
				         <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
						    <rect x="6" y="3" width="12" height="6"/>
						    <rect x="6" y="14" width="12" height="7"/>
						    <rect x="3" y="9" width="18" height="7" rx="2"/>
						 </svg>
				    </span>
				 </button>
	 	 	 </div>
	 	 </div>
	 </div>
	 <div class='datapanel-body'>
	 	 <!-------------->
	 	  <table id='table-{{ str_replace(" ", "_", $current_resource->singular_label ?? "") }}'>
 	 	 	 <thead>
 	 	 	 	<tr>
 	 	 	 		 <th><span class='flex center'><i class="fa-solid fa-grip-vertical"></i></span></th>
 	 	 	 		 @foreach($panel->columns as $column_name => $column)
 	 	 	 		 <th>
 	 	 	 		 	 <div class='flex v_center'>
	 	 	 	 		 	 <span class='flex v_center'>{!! $column->label !!}</span>
	 	 	 	 		 	 <span title='Sort By {!! $column->label !!}' 
	 	 	 	 		 	 	data-column="{!! $column->index !!}" 
	 	 	 	 		 	 	data-order="asc" 
	 	 	 	 		 	 	data-table='table-{{ str_replace(" ", "_", $current_resource->singular_label ?? "") }}'
	 	 	 	 		 	 	class="sort-but flex center icon">
						         <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 20 20">
								    <line x1="8" y1="4" x2="8" y2="20"/>
								    <polyline points="5,17 8,20 11,17"/>
								    <line x1="16" y1="20" x2="16" y2="4"/>
								    <polyline points="13,7 16,4 19,7"/>
								 </svg>
						     </span>
						 </div>
 	 	 	 		 </th>
 	 	 	 		 @endforeach
 	 	 	 		 <th>&nbsp;</th>
 	 	 	 		 <th>&nbsp;</th>
 	 	 	 		 <th>&nbsp;</th>
 	 	 	 	 </tr>
 	 	 	 </thead>
 	 	 	 <tbody>
 	 	 	 	 <!--the table rows go here-->
 	 	 	 	 @foreach($panel->data as $row)
 	 	 	 	 @let(
 	 	 	 	     $frow = $row->present('admin'),

 	 	 	 	     $edit_form_route_name = strtolower($current_resource?->plural_label).'.edit.form',
                     $edit_form_url = $auth_context === 'saqle' ? 
                         route($edit_form_route_name, ['id' => $row->{$current_resource->pk_column}]) : 
                         route($edit_form_route_name, ['tenant' => $tenant_slug, 'id' => $row->{$current_resource->pk_column}]),

                     $view_route_name = strtolower($current_resource?->plural_label).'.view',
                     $view_url = $auth_context === 'saqle' ? 
                         route($view_route_name, ['id' => $row->{$current_resource->pk_column}]) : 
                         route($view_route_name, ['tenant' => $tenant_slug, 'id' => $row->{$current_resource->pk_column}]),

                     $del_route_name = strtolower($current_resource?->plural_label).'.delete',
                     $del_url = $auth_context === 'saqle' ? 
                         route($del_route_name, ['id' => $row->{$current_resource->pk_column}]) : 
                         route($del_route_name, ['tenant' => $tenant_slug, 'id' => $row->{$current_resource->pk_column}])
 	 	 	 	 )
 	 	 	 	 <tr>
 	 	 	 	 	 <td><span class='flex center'><i class="fa-solid fa-grip-vertical"></i></span></td>
 	 	 	 	     @foreach($panel->columns as $column_name => $column)
 	 	 	 	     @if($panel->columns[$column_name]->type === 'image')
 	 	 	 	     <td><img class='dp-image' src="{!! $frow->$column_name !!}"/></td>
 	 	 	 	     @else
 	 	 	 	     <td>{!! ucwords($frow->$column_name ?? "") !!}</td>
 	 	 	 	     @endif
 	 	 	 	     @endforeach 
 	 	 	 	     <td title='View'>
 	 	 	 	     	<a href="{{ $view_url }}" class='dp-action'>
 	 	 	 	     		<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
							    <path d="M2 12s3.5-7 10-7 10 7 10 7-3.5 7-10 7S2 12 2 12z"/>
							    <circle cx="12" cy="12" r="3"/>
							 </svg>
 	 	 	 	     	</a>
 	 	 	 	     </td>
 	 	 	 	     <td title='Edit'>
 	 	 	 	     	 <a href="{{ $edit_form_url }}" class='dp-action'>
 	 	 	 	     		 <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
							    <path d="M12 20h9"/>
							    <path d="M16.5 3.5a2.1 2.1 0 0 1 3 3L7 19l-4 1 1-4 12.5-12.5z"/>
							 </svg>
 	 	 	 	     	 </a>
 	 	 	 	     </td>
 	 	 	 	     <td title='Delete'>
 	 	 	 	     	<form method='POST' action="{{ $del_url }}">
 	 	 	 	     		 <input type='hidden' name='_method' value='DELETE'/>
	 	 	 	 	     	 <button type='submit' class='dp-action'>
	 	 	 	 	     		 <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
								    <polyline points="3 6 5 6 21 6"/>
								    <path d="M19 6l-1 14a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2L5 6"/>
								    <path d="M10 11v6"/>
								    <path d="M14 11v6"/>
								    <path d="M9 6V4a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v2"/>
								 </svg>
	 	 	 	 	     	 </button>
 	 	 	 	         </form>
 	 	 	 	     </td>
 	 	 	 	 </tr>
 	 	 	 	 @endforeach
 	 	 	 	 <!--the table rows end here-->
 	 	 	 </tbody>
 	 	 </table>
	 	 <!-------------->
	 </div>
	 @if($panel->paginator)
	 <div class='datapanel-footer'>
	 	 <ui:component name='saqle.paginator' :paginator='$panel->data'/>
	 </div>
	 @endif
 </div>