 <div class="form-group">
     <label>{{ $field->label }}
         @if($field->required)
         <span class="required">*</span>
         @endif
     </label>
     <div class='form-group-controls'>
         @if($field->helper_text)
         <div class="help-text">
             { $field->helper_text }}
         </div>
         @endif
         <div>
             <ui:component name="saqle.formcontrol" :field="$field"/>
             @if($field->errors)
             <div class="field-error">
                 {{ implode(',', $field->errors) }}
             </div>
             @endif
         </div>
     </div>
 </div>