<div class="file-upload">
     @if($field->multiple)
     <input type="file" name='{{ $field->name }}[]' id='{{ $field->id }}' class="file-upload-input" accept="{{ implode(',', $field->accept) }}" multiple/>
     @else
     <input type="file" name='{{ $field->name }}' id='{{ $field->id }}' class="file-upload-input" accept="{{ implode(',', $field->accept) }}"/>
     @endif
     <div class="file-upload-dropzone">
         <div class="file-upload-content">
             <div class="flex center file-upload-icon">
                 <svg fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                     <path
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         d="M7 16a4 4 0 01.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"
                     />
                 </svg>
             </div>
             <div class="flex v_center file-upload-title">
                 <div>
                     <h4>Drag & Drop Files</h4>
                     <p>Drop your files here or click the button below to upload.
                     Supports multiple files.</p>
                     <button type="button" class="flex center file-upload-button">
                         <svg fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                             <path
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 d="M12 4v16m8-8H4"
                             />
                         </svg>
                         Choose Files
                     </button>
                 </div>
             </div>
         </div>
     </div>
     <div class="file-upload-files">
     </div>
</div>