<div class="signin-card">
     <div class="logo">
         <h1>Welcome Back</h1>
         <p>Sign in to continue</p>
     </div>
     <form method='POST' id="signinForm">
         {!! $csrf_token !!}
         @if($errors)
         <div class="form-group siginin-error">
             {{ $errors }}
         </div>
         @endif
         <ui:component 
             name="saqle.lib.formfield" 
             bind='app.auth.user:username' 
             required='0' 
             label="User Name"
         />
         <ui:component 
             name="saqle.lib.formfield" 
             bind='app.auth.user:password' 
             required='0' 
             label="Password"
         />
         <div class='form-buttons'>
             <button class="submit-button" type="submit" id="submitButton">
                 <span class="button-label">Sign in</span>
                 <span class="button-spinner" aria-hidden="true"></span>
             </button>
         </div>
     </form>
</div>