 @if($form->is_for_create())
 @let(
     $create_route_name = admin_route_name($current_resource?->plural_label, "create", $is_platform),
     $create_url = route($create_route_name)
 )
 <form 
     method='POST' 
     action="{{ $create_url }}" 
     enctype='multipart/form-data' 
     class='resourcelist'
 >
     <input type='hidden' name='_method' value='POST'/>
 @else
 @let(
     $edit_route_name = admin_route_name($current_resource?->plural_label, "edit", $is_platform),
     $edit_url = route($edit_route_name, ['id' => $object->{$current_resource->pk_column}])
 )
 <form 
     method='POST' 
     action="{{ $edit_url }}" enctype='multipart/form-data' 
     class='resourcelist'
 >
     <input type='hidden' name='_method' value='PATCH'/>
     <input type='hidden' name='pk' value='{{ $object->{$current_resource->pk_column} }}'/>
 @endif
     {!! $csrf_token !!}
     <div class='resourcelist-header'>
         <div class='breadcramb'>
             <a class='flex center' href='{{ $current_resource?->url }}'>
                 < Back
             </a>
             &nbsp;|&nbsp;Resources&nbsp;>&nbsp;{{ ucwords($current_resource?->plural_label) }}&nbsp;>&nbsp;
             {{ ucwords($form->get_mode() ) }}
         </div>
         <div class='title'>
             <div class='titleh'>
                 @if($form->is_for_create())
                 <h2>{{ ucwords($form->get_mode()." ".$form->get_model_name()) }}</h2>
                 @else
                 <h2>{{ ucwords($form->get_mode()." ".$form->get_model_name()) }} : {{ (string)$object }}</h2>
                 @endif
             </div>
             <div class='titleo'>
                 <button type="submit" class="btn-primary">
                     Save
                 </button>
                 <a class='flex center form-action-btn btn-cancel' href="{{ $current_resource?->url }}">Cancel</a>
             </div>
         </div>
     </div>
     @let($context = $form->get_context())
     @if($context && $context->message)
     <div class='resourcelist-badge'>
         <div class='form_message form_message_{{ $context->message->type}}'>
             <span>{{ $context->message->text }}</span>
         </div>
     </div>
     @else
     <div></div>
     @endif
     <div class='resourcelist-body'>
         <ui:component name='saqle.autoform' :form='$form'/>
     </div>
 </form>