
<div class='resourcelist'>
     <div class='resourcelist-header'>
         <div class='breadcramb'>
             Resources > {{ ucwords($current_resource->plural_label) }} > List
         </div>
         <div class='title'>
             <div class='titleh'>
                 <h2>{{ ucwords($current_resource->plural_label) }}</h2>
             </div>
             <div class='titleo'>
                 <a href="{{ route(strtolower($current_resource->plural_label).'.create.form') }}">Create {{ ucwords($current_resource->singular_label) }}</a>
             </div>
         </div>
     </div>
     <div class='resourcelist-body'>
         <ui:component name='saqle.datapanel' :panel='$panel'/>
     </div>
</div>