.app{
	 --app-background-color: #F8FAFC;
	 --sidebar-background-color: #F1F5F9;
	 --sidebar-nav-color: #334155;
	 --sidebar-activenav-background-color: #E2E8F0;
	 --sidebar-border-color:#E2E8F0;
	 --logo-background-color:#000;
	 --logo-color:#fff;
	 --appname-color:#000;
}